Votre compte a bien été supprimé
======================================
Si votre email est : <%= @nutritionist.email %>.

Votre compte a bien été supprimé ce jour.

Nous espérons vous revoir très vite sur FollowNut' !</p>