Votre compte a bien été supprimé
======================================
Si ton email est : <%= @nutritionist.email %>.

Askip t'as supprimé ton email poto.

Nous espérons te revoir très vite sur FollowNut' !</p>