<h1>Votre compte a bien été supprimé</h1>
<p>
  Si ton email est : <%= @nutritionist.email %>.
</p>
<p>
  Askip t'as supprimé ton email poto.
</p>
<p> Nous espérons te revoir très vite sur FollowNut' !</p>