<h1>Réinitialise ton mot de passe</h1>
<p>
  Si ton email est : <%= @nutritionist.email %>.
</p>
<p>
  Clique sur ce lien pour réinitialiser ton mot de passe : <%= @url %>.
</p>
<p> À très vite sur FollowNut' !</p>